header, body, footer, aside, nav, main, article, figure {
    display: block; 
}

*{
	margin: 0;
	padding: 0;
}

#file-uploads{
	/*How to center page: 
	https://css-tricks.com/quick-css-trick-how-to-center-an-object-exactly-in-the-center/*/
	position: fixed;
	top: 50%;
	left: 50%;

	transform: translate(-50%, -50%);
}
#file-uploads h1{
	display: inline-block;
	margin: 10px;
}
#file-uploads .button{
	position: relative;
	float: right;
	margin-top: 12px;
	display: inline-block;
	text-align: center; 
	font-size: 150%;
	padding: 2px;
}
#file-uploads h4{
	position: relative;
	margin-bottom: 1%;
	margin-left: 2%;
	display: inline-block;
}
#file-uploads h5{
	position: relative;
	padding-left: 4em;
	display: inline-block;
}
#file-uploads .radio{
	position: relative;
	margin-bottom: 1%;
	margin-left: 2%;
	display: inline-block;
}
#file-uploads label{
	font-weight: none;
	font-size: 80%;
}
#file-uploads #create-tables{
	position: fixed;
	margin-top: 20px;
	font-size: 150%;
	left: 50%;
	width: 50%;
	transform: translate(-50%);
}

#data-page{
	width: 100%;
}
#nodes-and-edges{
	float: left;
	width: 40%;
}
#network-stats{
	float: right;
	width: 60%;
}
.container{
	width: 100vh;
}
.container input{
	margin-bottom: 10px;
}

@media only screen and (max-width: 1600px){
	#file-uploads h1{
		display: block;
	}
	#file-uploads .button{
		display: block;
		margin-top: 0;
		margin-bottom: 3px;
	}
	#file-uploads h4{
		margin-top: 3px;
	}
	#file-uploads #create-tables{
		display: block;
		top: 95%;
	}
}
@media only screen and (max-width: 1300px){
	#nodes-and-edges{
		float: none;
		width: 100%;
	}
	#network-stats{
		float: none;
		width: 100%;
	}
}